<h3 class="text-center">Listado de alumnos</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Fecha de Nacimiento</th>
    <th scope="col">Email</th>
    <th scope="col">Está Estudiando</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let alumno of alumnos$ | async; index as fila">
    <th scope="row">{{ fila + 1 }}</th>
    <td>{{ alumno.nombre | uppercase }}</td>
    <td>{{ alumno.apellido | uppercase }}</td>
    <td>{{ alumno.fechaNacimiento | date }}</td>
    <td>{{ alumno.email }}</td>
    <td>{{ alumno.estaEstudiando | booleanTexto }}</td>
  </tr>
  </tbody>
</table>
<br>
<button class="btn btn-primary" (click)="filtrarNoEstudiando()">Filtrar alumnos que no están estudiando</button>
<br>
<br>
<div *ngIf="mostrar">
  <h3 class="text-center">Listado de alumnos que no están estudiando</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Email</th>
      <th scope="col">Está Estudiando</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let alumno of alumnos; index as fila">
      <th scope="row">{{ fila + 1 }}</th>
      <td>{{ alumno.nombre | uppercase }}</td>
      <td>{{ alumno.apellido | uppercase }}</td>
      <td>{{ alumno.fechaNacimiento | date }}</td>
      <td>{{ alumno.email }}</td>
      <td>{{ alumno.estaEstudiando | booleanTexto }}</td>
    </tr>
    </tbody>
  </table>
</div>
